
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Fungsi bantuan untuk mengecek apakah user sudah login (Anonymous atau Admin)
    function isAuthenticated() {
      return request.auth != null;
    }

    // Aturan untuk Koleksi Candidates
    match /candidates/{candidateId} {
      allow read: if true;
      allow create, update, delete: if isAuthenticated();
    }

    // Aturan untuk Koleksi Tokens
    match /tokens/{tokenId} {
      allow read: if true;
      allow create, update, delete: if isAuthenticated();
    }

    // Aturan untuk Pengaturan Jadwal (Specific Match)
    match /settings/{settingId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
  }
}
